<%- include('./header')%>


<div>
    <div>
        <img src="https://cdna.artstation.com/p/assets/images/images/033/097/240/original/yuri-kondo-citadelakondoparallax1.gif?1608396007" alt=""  width="560" height="315">
    </div>
    <div>
        <img src="https://www.estuma.com/wp-content/uploads/2012/09/gafas-steampunk.jpg" alt=""  width="560" height="315">
    </div>
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/C6MbzLgCh00" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
