<div>
    <div class="form">
        <form method="POST"action="/log-user">
            <div class="email">
                <label for="">Ingrese su Correo</label>
                <input type="email" name="email" placeholder="Ingrese su correo">
            </div>
            <div class="pass">
                <label for="">Contraseña</label>
                <input type="password" name="password" placeholder="Ingrese Contraseña">
            </div>
            <button class="btn-submit">Ingresasr</button>
        </form>
    </div>
</div>